$spaces: (
  05: 0.5em,
  10: 1em,
  15: 1.5em,
  20: 2em
);

$directions: (
  l: left,
  r: right,
  t: top,
  b: bottom,
  x: (left, right),
  y: (top, bottom)
);

@each $key, $val in $spaces {
  @each $abbr, $dir in $directions {
    // Single direction
    @if type-of($dir) == string {
      .m#{$abbr}--#{$key} {
        padding-#{$dir}: #{$val};
      }
    }

    // Multiple directions (x/y)
    @else if type-of($dir) == list {
      .m#{$abbr}--#{$key} {
        @each $d in $dir {
          padding-#{$d}: #{$val};
        }
      }
    }
  }
}