<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $styles := resources.Get "scss/styles.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
</head>
<body style="background-color: #ebf1f7;">
  {{ partial "navigation.html" . }}
  <div class="nav-spacer"></div>
  <main class="container top-space">
    <div class="txt-center"><img src="/images/unicorn-faded.jpg" alt="Unicorn Web" /></div>
    <h1 class="h2 heading txt-center txt-secondary-dark mt--05"><span class="txt-primary-dark">Unicorn</span> Web Design / Dev</h1>
    <p class="txt-center">The unicorn is like... a metaphor. It represents how f#&*% rare it is to find a freelance web developer who won't try to sell you shit you don't need.</p>
    <h2 class="h3 heading txt-center mt--10">Services We Offer</h2>
    <div class="grid">
        <div class="w--100 w--50@m">Test</div>
    </div>
  </main>
</body>
</html>