<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $styles := resources.Get "scss/styles.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
</head>
<body style="background-color: #ebf1f7;">
  {{ partial "navigation.html" . }}
  <div class="nav-spacer"></div>
  <main class="container top-space">
    <div class="txt-center"><img src="/images/unicorn-faded.jpg" alt="Unicorn Web" /></div>
    <h1 class="h2 heading txt-center txt-secondary-dark uppercase">Our logo is a <span class="txt-primary-dark">f*#%ing Unicorn</span></h1>
    <p class="txt-center">Yes, we can probably handle your web design or development project.</p>
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ else }}
      <p>No posts found...</p>
    {{ end }}

    {{ if gt $paginator.TotalPages 1 }}
      <nav>
        {{ if $paginator.HasPrev }}
          <a href="{{ $paginator.Prev.URL }}">Previous</a>
        {{ end }}
        {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.URL }}">Next</a>
        {{ end }}
      </nav>
    {{ end }}
  </main>
</body>
</html>